<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Sylvia Plath</key>
		<array>
			<dict>
				<key>quote</key>
				<string>Perfection is terrible; it cannot have children.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>When you are insane, you are busy being insane - all the time.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Poetry at its best can do you a lot of harm.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>How we need another soul to cling to.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I am too pure for you or anyone.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I have the choice of being active and happy or introspectively passive and sad.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>How frail the human heart must be - a mirrored pool of thought.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I talk to God but the sky is empty.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>If neurotic is wanting two mutually exclusive things at one and the same time, then I&apos;m neurotic as hell.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Is there no way out of the mind?</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>What I want back is what I was.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Perhaps when we find ourselves wanting everything, it is because we are dangerously close to wanting nothing.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>It is as if my life were magically run by two electric currents: joyous positive and despairing negative - whichever is running at the moment dominates my life, floods it.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Dying is an art, like everything else.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I shut my eyes and all the world drops dead; I lift my eyes and all is born again.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I am a victim of introspection.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>But life is long. And it is the long run that balances the short flare of interest and passion.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>There must be quite a few things that a hot bath won&apos;t cure, but I don&apos;t know many of them.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>The worst enemy to creativity is self-doubt.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>...everything in life is writable about if you have the outgoing guts to do it, and the imagination to improvise.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>If you expect nothing from anybody, you&apos;re never disappointed.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Kiss me and you will see how important I am.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Jane Austen</key>
		<array>
			<dict>
				<key>quote</key>
				<string>Where an opinion is general, it is usually correct.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Where youth and diffidence are united, it requires uncommon steadiness of reason to resist the attraction of being called the most charming girl in the world.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Business, you know, may bring you money, but friendship hardly ever does.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>There is something so amiable in the prejudices of a young mind, that one is sorry to see them give way to the reception of more general opinions.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>We do not look in our great cities for our best morality.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>An artist cannot do anything slovenly.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Those who do not complain are never pitied.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Vanity working on a weak head, produces every sort of mischief.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>One half of the world cannot understand the pleasures of the other.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>For what do we live, but to make sport for our neighbors and laugh at them in turn?</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>One man&apos;s style must not be the rule of another&apos;s.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>A large income is the best recipe for happiness I ever heard of.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Respect for right conduct is felt by every body.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>What is right to be done cannot be done too soon.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Woman is fine for her own satisfaction alone.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I do not want people to be very agreeable, as it saves me the trouble of liking them a great deal.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Nothing is more deceitful than the appearance of humility. It is often only carelessness of opinion, and sometimes an indirect boast.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>We have all a better guide in ourselves, if we would attend to it, than any other person can be.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>To be fond of dancing was a certain step towards falling in love.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Selfishness must always be forgiven you know, because there is no hope of a cure.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Life seems but a quick succession of busy nothings.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>There is nothing like staying at home for real comfort.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>There is no charm equal to tenderness of heart.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>J.K. Rowling</key>
		<array>
			<dict>
				<key>quote</key>
				<string>The best of us must sometimes eat our words.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>You lose your individuality a huge amount when you have no money...</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I always felt an outsider.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Fear of a name increases fear of the thing itself.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>The moment you are old enough to take the wheel, responsibility lies with you.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Humans have a knack for choosing precisely the things that are the worst for them.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>To the well-organized mind, death is but the next great adventure.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>When people are very damaged, they can often meet the world with a kind of defiance.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Youth cannot know how age thinks and feels. But old men are guilty if they forget what it was to be young.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Never be ashamed! There&apos;s some who&apos;ll hold it against you, but they&apos;re not worth bothering with.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Secretly we&apos;re all a little more absurd than we make ourselves out to be.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>It does not do to dwell on dreams and forget to live.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>The truth. It is a beautiful and terrible thing, and must therefore be treated with great caution.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Indifference and neglect often do much more damage than outright dislike.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I would like to be remembered as someone who did the best she could with the talent she had.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I sometimes have a tendency to walk on the dark side.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Anything&apos;s possible if you&apos;ve got enough nerve.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>It is our choices...that show what we truly are, far more than our abilities.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>...poverty itself is romanticized by fools.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>It takes a great deal of bravery to stand up to our enemies, but just as much to stand up to our friends.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Jean-Paul Sartre</key>
		<array>
			<dict>
				<key>quote</key>
				<string>To eat is to appropriate by destruction.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>God is absence. God is the solitude of man.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Acting is happy agony.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>One lives one&apos;s death, one dies one&apos;s life.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>It is only in our decisions that we are important.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Politics is a science. You can demonstrate that you are right and that others are wrong.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Man is not the sum of what he already has, but rather the sum of what he does not yet have, of what he could have.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I have no need for good souls: an accomplice is what I wanted.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Words are loaded pistols.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>All human actions are equivalent and all are on principle doomed to failure.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Words are more treacherous and powerful than we think.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Generosity is nothing else than a craze to possess.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>No finite point has meaning without an infinite reference point.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I exist because I think I cannot keep from thinking.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Every age has its own poetry.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I hate victims who respect their executioners.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>A lost battle is a battle one thinks one has lost.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Like all dreamers, I mistook disenchantment for truth.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Once you hear the details of victory, it is hard to distinguish it from a defeat.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Freedom is what you do with what&apos;s been done to you.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Life begins on the other side of despair.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Man is condemned to be free; because once thrown into the world, he is responsible for everything he does.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Everything has been figured out, except how to live.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Every existing thing is born without reason, prolongs itself out of weakness, and dies by chance.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>The best work is not what is most difficult for you; it is what you do best.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>When rich people fight wars with one another, poor people are the ones to die.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Life has no meaning the moment you lose the illusion of being eternal.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Hell is other people.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Commitment is an act, not a word.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>There is only one day left, always starting over: it is given to us at dawn and taken away from us at dusk.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Only the guy who isn&apos;t rowing has time to rock the boat.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Steve Jobs</key>
		<array>
			<dict>
				<key>quote</key>
				<string>As individuals, people are inherently good. I have a somewhat more pessimistic view of people in groups.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>For you to sleep well at night, the aesthetic, the quality, has to be carried all the way through.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Life is brief, and then you die, you know?</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>If you haven&apos;t found it yet, keep looking. Don&apos;t settle.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Sometimes life hits you in the head with a brick. Don&apos;t lose faith.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Technology is nothing.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>It&apos;s not about money. It&apos;s about the people you have, how you&apos;re led, and how much you get it.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>You are already naked. There is no reason not to follow your heart.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Stay hungry, stay foolish.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Design is not just what it looks like and feels like. Design is how it works.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Simple can be harder than complex: You have to work hard to get your thinking clean to make it simple.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>When you ask creative people how they did something, they feel guilty because they didn&apos;t really do it, they just saw something.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Creativity is just connecting things.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Be a yardstick of quality. Some people aren&apos;t used to an environment where excellence is expected.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>It&apos;s really clear that the most precious resource we all have is time.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Innovation distinguishes between a leader and a follower.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>You have to trust in something - your gut, destiny, life, karma, whatever.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>...Death is very likely the single best invention of Life. It is Life&apos;s change agent. It clears out the old to make way for the new.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>...have the courage to follow your heart and intuition.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Don&apos;t let the noise of others&apos; opinions drown out your own inner voice.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Don&apos;t be trapped by dogma - which is living with the results of other people&apos;s thinking.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Your time is limited, so don&apos;t waste it living someone else&apos;s life.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Anna Wintour</key>
		<array>
			<dict>
				<key>quote</key>
				<string>I don&apos;t think of myself as a powerful person.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>...one doesn&apos;t want to lose the idea that there is someone out there who can change the way you look at fashion.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>It&apos;s very important to me that I look good when I go out publicly.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>That&apos;s how fashion changes. If it doesn&apos;t change, it&apos;s not looking forward. And that&apos;s important to me.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>...you do want designers that make you think, that make you look at fashion differently.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I wasn&apos;t academically successful. And maybe I&apos;ve spent a lot of my career trying to make up for that.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I like people who represent the best at what they do, and if that turns you into a perfectionist, then maybe I am.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>The most important thing I can do is try and make myself very clearly understood.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Even if I&apos;m completely unsure, I&apos;ll pretend I know exactly what I&apos;m talking about and make a decision.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>You have to, I think, remain true to what you believe in.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>In the end I do respond to my own instincts. Sometime&apos;s they&apos;re successful, and obviously sometimes they&apos;re not.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I try to remain very open to what others have to say.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I look for strong people. I don&apos;t like people who&apos;ll say yes to everything I might bring up.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>People work much better when they have a real sense of responsibility.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>There is a new kind of woman out there. She&apos;s interested in business and money.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>People have to go to school, learn their craft, and build a brand - that&apos;s the right, healthy way to do things.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>...you need to have that leader with a vision and heart that can move things forward.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>...you have to work from your instinct and feeling and take those risks and be fearless.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>It&apos;s very important to take risks.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Kate Moss</key>
		<array>
			<dict>
				<key>quote</key>
				<string>Now I can walk into a room full of people I don&apos;t know and do my job. That&apos;s quite a massive thing to learn, I think.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I kind of lost interest in school. I was never really that interested anyway.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>All of a sudden I was living what is perceived to be the model life...It was work all the time. And there&apos;s always a party to go to.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>People don&apos;t hear me talk. They don&apos;t expect me to.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I like feeling that I&apos;ve nailed it, and we&apos;ve got the picture.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I have a dress-up chest at home. I love to create this fantasy kind of thing.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>It&apos;s a sin to be tired.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>It sounds really corny but I think that if you&apos;re beautiful inside it shows on the outside, for sure.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>What people say isn&apos;t going to stop me. I have to do things for myself.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>...it&apos;s easy to be chewed up and spat out. You&apos;ve got to stay ahead of the game to be able to stay in it.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Nothing tastes as good as skinny feels.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Rihanna</key>
		<array>
			<dict>
				<key>quote</key>
				<string>I always wanted to be the opposite of everyone else.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I&apos;m gonna look back on my life and say that I enjoyed it - and I lived it for me.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>If someone is right for you, you&apos;ll know it.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>People think, because we&apos;re young, we aren&apos;t complex, but that&apos;s not true.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I hate anything that&apos;s too straightforward, too routine, too familiar. I get bored really, really quickly.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>When I am putting looks together, I dare myself to make something work...I have to make it me. I think that&apos;s the thrill in fashion.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>The bottom line is that everyone thinks differently.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>You just want something else that someone else has, but that doesn&apos;t mean what you have isn&apos;t beautiful...</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I don&apos;t do things for the response or for the controversy. I just live my life.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>You don&apos;t want to live your life and then meet someone. You want to share your life with someone.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>If I cry, it&apos;s because I&apos;m very angry and I can&apos;t do anything about it because I&apos;ve run into a dead end.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I&apos;m crazy and I don&apos;t pretend to be anything else.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Lana Del Rey</key>
		<array>
			<dict>
				<key>quote</key>
				<string>If you consider the definition of authenticity, it&apos;s saying something and actually doing it.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>When I found somebody who I fell in love with, it made me feel different than I felt the rest of the day. It was electrifying.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I felt really overwhelmed and confused by the desire not to end up in an office, doing something I didn&apos;t believe in.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Feeling like you&apos;re respected among the people who do the same thing you do is incredible and necessary.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Do you know what makes you stronger? When people treat you and your art with dignity.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I used to wonder if it was God&apos;s plan that I should be alone for so much of my life.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>If you are born an artist, you have no choice but to fight to stay an artist.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I believe nothing happens by mistake. You know, the universe has a divine plan. That sounds dramatic.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Fashion is inspired by youth and nostalgia and draws inspiration from the best of the past.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I want to stay hopeful, even though I get scared about why we&apos;re even alive at all.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Margot Fonteyn</key>
		<array>
			<dict>
				<key>quote</key>
				<string>Genius is another word for magic, and the whole point of magic is that it is inexplicable.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Donovan</key>
		<array>
			<dict>
				<key>quote</key>
				<string>We are magic. It is magic that we&apos;re walking around.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Leonard Cohen</key>
		<array>
			<dict>
				<key>year</key>
				<string>1966</string>
				<key>source</key>
				<string>Beautiful Losers</string>
				<key>quote</key>
				<string>Magic never weakened. Magic never hid. Magic always ruled.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Ernest Alfred Wallis Budge</key>
		<array>
			<dict>
				<key>year</key>
				<string>1901</string>
				<key>source</key>
				<string>Egyptian Magic</string>
				<key>quote</key>
				<string>The belief in magic...is older in Egypt than the belief in God.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Leo Buscaglia</key>
		<array>
			<dict>
				<key>quote</key>
				<string>A life of love is one of continual growth, where the doors and windows of experience are always open to the wonder and magic that life offers.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Roger Bacon</key>
		<array>
			<dict>
				<key>quote</key>
				<string>Many secrets of art and nature are thought by the unlearned to be magical.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Atiśa</key>
		<array>
			<dict>
				<key>quote</key>
				<string>The greatest magic is transmuting the passions.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Theodor Adorno</key>
		<array>
			<dict>
				<key>year</key>
				<string>1951</string>
				<key>source</key>
				<string>Minima Moralia</string>
				<key>quote</key>
				<string>Art is magic delivered from the lie of being truth.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Wilhelm Reich</key>
		<array>
			<dict>
				<key>year</key>
				<string>1948</string>
				<key>source</key>
				<string>Listen, Little Man!</string>
				<key>quote</key>
				<string>There is only one thing that counts: to live one&apos;s life well and happily...</string>
			</dict>
			<dict>
				<key>year</key>
				<string>1948</string>
				<key>source</key>
				<string>Listen, Little Man!</string>
				<key>quote</key>
				<string>Follow the voice of your heart, even if it leads you off the path of timid souls.</string>
			</dict>
			<dict>
				<key>year</key>
				<string>1948</string>
				<key>source</key>
				<string>Listen, Little Man!</string>
				<key>quote</key>
				<string>Don&apos;t run away. Don&apos;t be afraid. It is not so terrible to be the responsible bearer of human society.</string>
			</dict>
			<dict>
				<key>year</key>
				<string>1948</string>
				<key>source</key>
				<string>Listen, Little Man!</string>
				<key>quote</key>
				<string>Your life will be good and secure when aliveness means more to you than security.</string>
			</dict>
			<dict>
				<key>year</key>
				<string>1948</string>
				<key>source</key>
				<string>Listen, Little Man!</string>
				<key>quote</key>
				<string>Only you yourself can be your liberator!</string>
			</dict>
			<dict>
				<key>year</key>
				<string>1948</string>
				<key>source</key>
				<string>Listen, Little Man!</string>
				<key>quote</key>
				<string>See yourself as you really are...Don&apos;t run. Have the courage to look at yourself!</string>
			</dict>
			<dict>
				<key>year</key>
				<string>1948</string>
				<key>source</key>
				<string>Listen, Little Man!</string>
				<key>quote</key>
				<string>You are free only in one sense: free from education in governing your life yourself, free from self-criticism. </string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Love, work, and knowledge are the well-springs of our life. They should also govern it.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Only the liberation of the natural capacity for love in human beings can master their sadistic destructiveness.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Scientific theory is a contrived foothold in the chaos of living phenomena.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>On all sides, life is surrounded by hostility.</string>
			</dict>
			<dict>
				<key>year</key>
				<string>1948</string>
				<key>source</key>
				<string>Listen, Little Man!</string>
				<key>quote</key>
				<string>It is on your thinking and your actions that the future of humanity depends.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Robert Anton Wilson</key>
		<array>
			<dict>
				<key>quote</key>
				<string>Everyone has a belief system, B.S., the trick is to learn not to take anyone&apos;s B.S. too seriously, especially your own.</string>
			</dict>
			<dict>
				<key>year</key>
				<string>1983</string>
				<key>source</key>
				<string>Prometheus Rising</string>
				<key>quote</key>
				<string>Mind is a tool invented by the universe to see itself; but it can never see all of itself...</string>
			</dict>
			<dict>
				<key>year</key>
				<string>1983</string>
				<key>source</key>
				<string>Prometheus Rising</string>
				<key>quote</key>
				<string>Whatever the Thinker thinks, the Prover will prove.</string>
			</dict>
			<dict>
				<key>year</key>
				<string>1983</string>
				<key>source</key>
				<string>Prometheus Rising</string>
				<key>quote</key>
				<string>The Thinker can think itself sick, and can even think itself well again.</string>
			</dict>
			<dict>
				<key>year</key>
				<string>1975</string>
				<key>source</key>
				<string>The Illuminatus! Trilogy</string>
				<key>quote</key>
				<string>ONLY THE MADMAN IS ABSOLUTELY SURE.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>Please pardon my levity, I don&apos;t see how to take death seriously. It seems absurd.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I don&apos;t know what anything &apos;is&apos;, I only know how it seems to me at this moment.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>The longer one is alone, the easier it is to hear the song of the earth.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>The fallacy is that man can judge the part in isolation from the whole.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>There is absolutely nothing that can be taken for granted in this world.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I don&apos;t believe anything, but I have many suspicions.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I put things in probabilities, not absolutes...</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I really dread serious people. Especially serious, dogmatic people.</string>
			</dict>
			<dict>
				<key>year</key>
				<string>1981</string>
				<key>source</key>
				<string>Masks of the Illuminati</string>
				<key>quote</key>
				<string>A true initiation never ends.</string>
			</dict>
			<dict>
				<key>year</key>
				<string>1980</string>
				<key>source</key>
				<string>The Illuminati Papers</string>
				<key>quote</key>
				<string>It only takes 20 years for a liberal to become a conservative without changing a single idea.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Aleister Crowley</key>
		<array>
			<dict>
				<key>year</key>
				<string>1929</string>
				<key>source</key>
				<string>Magick Book IV: Liber ABA, Part III: Magick in Theory and Practice</string>
				<key>quote</key>
				<string>Magick may be defined as the name given to Science by the vulgar.</string>
			</dict>
			<dict>
				<key>year</key>
				<string>1929</string>
				<key>source</key>
				<string>Magick Book IV: Liber ABA, Part III: Magick in Theory and Practice</string>
				<key>quote</key>
				<string>Magick is the Science and Art of causing Change to occur in conformity with Will.</string>
			</dict>
			<dict>
				<key>year</key>
				<string>1929</string>
				<key>source</key>
				<string>Magick Book IV: Liber ABA, Part III: Magick in Theory and Practice</string>
				<key>quote</key>
				<string>MAGICK is for ALL.</string>
			</dict>
			<dict>
				<key>quote</key>
				<string>I am of the opinion that genius can be acquired, or, in the alternative, that it is an almost universal possession.</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
